.layer2 div {
   overflow: hidden;
  background-color: rgb(255, 255, 255, 0);
  z-index: 2;
  margin: 1px;
}

#tetris {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;
  border: 1px solid #000;

  padding: 13px;
}
#tetris .figures {
  font-size: 12px;
}
#tetris button {
  color: #fff;
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  padding: 2px;

}
#tetris button:disabled {
  color: #888;
  

}
#tetris button:active {
  border: 3px inset #888;
  margin: 5px;

}
#tetris button:hover {
  background-color: #ccc;
  transition: 1s;
  
}
#tetris .main {
  white-space: nowrap;
  --brickPadding: 0px;
  --brickBorder: 0.5px solid #444;
  --brickSize: 8px;
}
#tetris .main .board, #tetris .main .info {
  display: inline-block;
}
#tetris .main .info {
  margin-left: var(--brickSize);
  vertical-align: top;
}
#tetris .main .board, #tetris .main .preview {
  line-height: 0px;
}
#tetris .main .col {
  display: inline-block;
  border: var(--brickBorder);
  margin: var(--brickPadding);
  width: var(--brickSize);
  height: var(--brickSize);
}
